$white: #ffffff;
$text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.8);
$box-shadow: 0px 0px 10px 1px #000000;
$white-hover: rgba(255, 255, 255, 0.75);
$transparent-grey: rgba(109, 109, 110, 0.7);
$transparent-grey-hover: rgba(109, 109, 110, 0.5);
$transparent-grey-hover-light: rgba(0, 0, 0, 0.3);

$dark-grey: #141414;
$med-grey: #141414;

$green: #46d369;
