$white: #ffffff;
$text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.8);
$box-shadow: 0px 0px 10px 1px #000000;
$white-hover: rgba(255, 255, 255, 0.75);
$white-hover-light: rgba(255, 255, 255, 0.6);
$transparent-grey: rgba(109, 109, 110, 0.7);
$transparent-grey-hover: rgba(109, 109, 110, 0.5);
$transparent-grey-hover-light: rgba(0, 0, 0, 0.3);
$transparent-grey-hover-dark: rgba(0, 0, 0, 0.5);
$transparent-grey-hover-extra-dark: rgba(0, 0, 0, 0.9);
$dropdown-background: rgba(0, 0, 0, 0.85);

$dark-grey: #141414;
$med-grey: #141414;

$green: #46d369;

$small-breakpoint: 500px;
$med-breakpoint: 900px;
$large-breakpoint: 1440px;
