.hero-play-btn {
	background-color: $white;
	border: none;
	border-radius: 0.3rem;
	height: 2rem;
	font-weight: 700;
	&:hover {
		background-color: $white-hover;
	}
}

.hero-more-info-btn {
	background-color: $transparent-grey;
	border: none;
	border-radius: 0.3rem;
	color: $white;
	height: 2rem;
	font-weight: 700;
	&:hover {
		background-color: $transparent-grey-hover;
	}
}
.hero-btn-text {
	display: flex;
	align-items: center;
	padding: 0 0.5rem;
}

.carousel-button {
	background-color: transparent;
	border: none;
	fill: white;
	height: 100%;
	width: 5%;
	z-index: 100;
	&:hover {
		background-color: $transparent-grey-hover-dark;
	}
}
.modal-play {
	@include flexContainer($direction: row, $justify: center);
	background-color: $white;
	border-radius: 100px;
	width: 24px;
	height: 24px;
}
.modal-button {
	@include flexContainer($direction: row, $justify: center);
	background-color: transparent;
	border: none;
	border: 1px solid $white;
	border-radius: 100px;
	width: 24px;
	height: 24px;
}
.footer-button {
	background-color: transparent;
	border: 1px solid $transparent-grey;
	color: $transparent-grey;
	cursor: pointer;
	margin-bottom: 1rem;
	padding: .5rem 1rem;
	
}
.footer-button:hover{
	color: $white;
}
.carousel-button-icon{
	@include responsive-sm{
		height: 14px;
		width: 14px;
	}
}