.carousel-container{
	margin-bottom: 3rem;
	& h3 {
		padding: 0 0 16px 32px;
		font-size: 1.2rem;
		font-weight: 600;
	}
}

.carousel-wrapper {
	@include flexContainer($direction: row, $justify: space-between);
	align-items: stretch;
	height: 34vw;
	position: relative;
	width: 100%;
	overflow-x: hidden;
	z-index: 2;

	& .carousel {
		@include flexContainer($direction: row, $justify: center);
		align-items: stretch;
		flex-wrap: nowrap;
		height: 100%;
		position: absolute;
		top: 0;
		// left: calc((-22.5vw * 14) + 5vw - 7px);
		// width: calc(22.5vw * 28);
	}

	@include responsive-sm {
		height: 70vw;
		& .carousel {
			// width: calc(40vw * 28)
		}
	}
	@include responsive-lrg {
		height: 25vw;
		& .carousel {
			// width: calc(15vw * 28)
		}
	}
}

.carousel-wrapper button {
	opacity: 0;
	transition: opacity 500ms ease-out;
}
.carousel-wrapper:hover button {
	opacity: 1;
}
