.full-page-modal-container {
    @include flexContainer($direction: column, $justify: flex-start);
    align-items: flex-start;
    position: absolute;
    top: 50%;
    left: 50vw;
    background-color: $dark-grey;
    border-radius: 6px;
    box-shadow: $box-shadow;
    height: auto;
    transform: translate(-50%, -50%);
    width: 95vw;
    overflow: hidden;
    z-index: 200;
    & .full-page-iframe {
        border: none;
		height: auto;
		padding: 0;
		width: 100%;
    }
    & .hover-modal-description {
        margin-top: 0;
    }
}