.hover-modal {
	@include flexContainer($direction: column, $justify: center);
	flex-wrap: wrap;
	position: absolute;
	z-index: 100;
	background-color: $dark-grey;
	box-shadow: $box-shadow;
	height: 300px;
	opacity: 0;
	width: 200px;
	transform: scale(1.3);
	transition: opacity 1.5s;
	& img {
		height: auto;
		width: 200px;
	}
}

.hover-modal-fade-in{
	transform: scale(1.3);
	opacity: 1;
}

