.hover-modal {
	@include flexContainer($direction: column, $justify: flex-start);
	flex-wrap: wrap;
	position: absolute;
	z-index: 100;
	background-color: $dark-grey;
	border-radius: 8px;
	box-shadow: $box-shadow;
	font-size: .8rem;
	height: 250px;
	width: 200px;
	opacity: 0;
	overflow: hidden;
	transform: scale(.9) translateY(0);
	transition: opacity 1.5s;
	& img {
		height: auto;
		width: 200px;
	}
	& .hover-iframe {
		border: none;
		height: auto;
		padding: 0;
		width: 200px;
	}
}

.hover-modal-fade-in{
	transform: scale(1.3) translateY(20px);
	opacity: 1;
}

.card-details {
	@include flexContainer($direction: column, $justify: space-between);
	margin: auto 0;
}

.hover-modal-btn-container {
	@include flexContainer($direction: row, $justify: flex-start);
	padding: 10px;
	width: 200px;
	& div.modal-button, div.modal-play {
		margin: 5px;
	}
	& div:last-child {
		margin-left: auto;
	}
}

.hover-modal-description {
	@include flexContainer($direction: row, $justify: space-between)
}

