.mobile-carousel-conatiner{
    margin-bottom: 3rem;
	& h3 {
		padding: 0 0 16px 5vw;
		font-size: 1.2rem;
		font-weight: 600;
	}
}

.mobile-carousel-wrapper {
	@include flexContainer($direction: row, $justify: space-between);
	align-items: stretch;
	height: 70vw;
	position: relative;
	width: 100%;
	overflow-x: scroll;
	z-index: 2;

    & ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 0px;
background: transparent;
    }

	& .mobile-carousel {
		@include flexContainer($direction: row, $justify: center);
		align-items: stretch;
		flex-wrap: nowrap;
		height: 70vw;
		position: absolute;
		top: 0;
		left: 5vw;
        padding-right: 5vw;
	}
}