.nav-search-icon {
	fill: $white;
	height: 16px;
	width: 16px;
	margin: 0 0.5rem;
}
.nav-alerts-icon {
	fill: $white;
	height: 16px;
	width: 16px;
	margin: 0 0.5rem;
}
.hero-play-icon {
	height: 20px;
	width: 20px;
	margin-right: 0.3rem;
}
.hero-more-info-icon {
	fill: $white;
	height: 20px;
	width: 20px;
	margin-right: 0.5rem;
}
