footer {
    background-color: $dark-grey;
    color: $transparent-grey;
    font-size: .8rem;
    & .footer-container{
        margin: auto;
        width: 80%;
    }
    & ul{
        @include flexContainer($direction: row, $justify: center);
        margin-bottom: .5rem;
    }
    & li {
        margin-bottom: 1rem;
        width: 25%;
    }
    & a{
        color: $transparent-grey;
        cursor: default;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
    @include responsive-sm {
        li {
            width: 50%;
        }
    }
}

.footer-social {
    margin-bottom: .5rem;
    & span{
        margin-right: 1.5rem;
    }
}

.copyright-info {
    padding-bottom: 1rem;
}

.footer-social-icon {
    cursor: default;
    fill: $white;
}
