.movie-card-wrapper {
	cursor: pointer;
	height: 100%;
	margin: 0 3px;
	@include responsive-sm{
		width: 40vw;
	}
}

.movie-card {
	@include flexContainer($direction: row, $justify: center);
	border-radius: 6px;
	height: 100%;
	overflow: hidden;
	width: 100%;
	& img {
		height: 100%;
		width: 100%;
	}
}
