.movie-card-wrapper {
	height: 310px;
	max-width: 206px;
	// overflow-y: clip;
}

.movie-card {
	@include flexContainer($direction: row, $justify: center);
	border-radius: 6px;
	margin: 0 3px;
	height: 300px;
	overflow: hidden;
	width: 200px;
	& img {
		height: 300px;
		width: 200px;
	}
}
