nav {
	@include flexContainer($direction: row, $justify: space-between);

	position: fixed;
	top: 0;
	left: 0;
	background-color: transparent;
	height: 4rem;
	text-shadow: $text-shadow;
	transition: background-color .7s;
	width: 100%;
	z-index: 50;
	
}
.left-nav {
	@include flexContainer($direction: row, $justify: flex-start);
	& .main-logo {
		height: 1.8rem;
		margin: 0 1.5rem 0 2rem;
	}

	& .nav-li-item {
		font-size: 0.8rem;
		margin: 0 0.7rem;
	}
}
.right-nav {
	@include flexContainer($direction: row, $justify: flex-end);
position: relative;
	& .account-settings {
		@include flexContainer($direction: row, $justify: center);
		
	}
}

.user-dropdown {
	position: absolute;
	top: 4rem;
	right: 0;
	background-color: $transparent-grey-hover-dark;
	border: 1px solid $white-hover;
}

.nav-scrolled {
	// background-color: #0c0c0c;
	background-color: $dark-grey;
}
